* {
    background-color: #f0d3ff;
    font-family: "JetBrains Mono";
}

.center {
    text-align: center;
}

#timeline-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}
::-webkit-scrollbar {
    /* hide scroll in chrome */
    display: none;
}

#timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vw;
    scroll-snap-align: center;
}

#timeline-node {
    border-radius: 50%;
    background-color: black;
    width: 4vw;
    height: 4vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
}

#timeline-description {
    width: 25vw;
    text-wrap: wrap;
}

#timeline-img {
    max-width: 100%;
    height: auto;
}

#vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 0%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 0.4) 100%
  );
}
